<div class="pag">
	<%= link_to @configuration, edit_tournament_path %>
</div>				


<div class="mapared">
</div>
<div class="mapred">

	<div class="red1">
		<div class="redlogo2">
		</div>
		<div class="redmenu">
		</div>

	</div>	
	<div class="red2">
	</div>	
	<div class="red3">
	</div>	
</div>
<div class="mapbred">
</div>




